.jumbotron {
  background-color: #f59505;
  color: #f5f0f0;
  margin-top: 40px;
  margin-bottom: 0px; }

footer {
  background-color: #f59505;
  color: #f5f0f0;
  padding: 10px 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
