@orange: #f59505;
@white: #f5f0f0;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @orange;
    color: @white;
    .margenes(40px, 0px);
}

footer {
    background-color: @orange;
    color: @white;
    padding: 10px 10px 0 10px;
    .margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}